	html, body
	{
		height: 100%;
	}
	
	body
	{	background-image: url("colors.jpg");
		height: 500px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding:10;
		font-size:4em;
		color: white;
		background: black;
		
		
		
	}
	
	
	
	a:hover
	{
		text-decoration: none;
	}
	

	


	


		


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 6em 0em 2em 0em;
	}

	#header
	{
		text-align: center;
	}


	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 1.3em 1.2em;
		text-decoration: none;
		font-size:7.4em;
		font-weight: 200;
		
		color: white
		
		
;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background:black
		
		
		;
	}
	

	

	.btn {
		flex: 1 1 auto;
		margin: 10px;
		padding: 30px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
	   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
		box-shadow: 0 0 20px #eee;
		border-radius: 10px;
	   }
	  
	  
	  




	